.assuntos {
    position: absolute;
    margin-left: 76%;
    margin-right: 0;
    width: 24%;
    text-align: center;
  }

.assuntos li{
    text-align: left;
    color: blue;
}

.menu li:hover{
    text-align: left;
    font-weight: 700;
    cursor: pointer;
}

.menu ul li { 
    display: inline; 
    padding: 2px 10px;
}

.menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#titulo {
    text-align: center;
}