@import './noticias.css';
@import './utilidade.css';
@import './marca.css';
@import './destaque.css';
@import './pesquisa.css';
@import './complementar.css';
@import './rodape.css';
@import './carousel.css';
@import './assuntos.css';

* {
  margin: 0;
}

body {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}


a {
  color: grey;
  text-decoration: none;
}
 
.load{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  text-align: center;
  z-index: 999;
}