.rodape {
    background-color: blue;
    border-top: 2px solid blue;
    padding: 0.3cm;
    text-align: center;
    color: white;
  }

.rodape a{
  color: white;
  text-decoration: underline;
}